In [5]:
#import the libraries we want, glob deals with filenames
import pandas as pd
import numpy as np

import glob

#all my csvs are stored in a folder called "raw," this goes in and grabs all of the names
raw = glob.glob('raw/*')

#create dataframe, empty arrays to append to in the for loop below
df2 = pd.DataFrame()
names = []
list_ = []

#execute some code for each filename, i.e. each hour of rainfall
for filename in raw:
    
    #pulls out the part of the filename before the ‘/’, then before the ‘.’ to #get simply “DDHH”
    name = filename.split('/')[1]
    name = name.split('.')[0]
    
    #appends each name to the empty array above so that when done we have a
    #list of all the names (each hour)
    names.append(name)
    
    #actually reads the contents of each file and then stores the data in a variable called "data"
    data = pd.read_csv(filename, index_col=None, header=0)
    
    
    #adds 
    data[name] = data['Globvalue']
    
    list_.append(data)
    
    df2.append(data)

print names
df2 = pd.concat(list_)
for timeColumn in names:
    df2[timeColumn] = df2[timeColumn].fillna(value=0)

['1000', '1001', '1002', '1003', '1004', '1005', '1006', '1007', '1008', '1009', '1010', '1011', '1012', '1013', '1014', '1015', '1016', '1017', '1018', '1019', '1020', '1021', '1022', '1023', '1100', '1101', '1102', '1103', '1104', '1105', '1106', '1107', '1108', '1109', '1110', '1111', '1112', '1113', '1114', '1115', '1116', '1117']

In [6]:
boundY1 = 10.25
boundY2 = 35.081602
boundX1 = -90.4874294
boundX2 = -75.63

df2 = df2.loc[(df2['Lat'] >= boundY1) & (df2['Lat'] <= boundY2) & (df2['Lon'] <= boundX2) & (df2['Lon'] >= boundX1)]
df2 = df2.loc[(df2['Hrapx'] % 3 == 0) & (df2['Hrapy'] % 3 == 0)]
df2 = df2.groupby(['Id', 'Lat','Lon','Hrapy','Hrapx']).sum()

df2 = df2.drop('Globvalue',1)

df2.describe()

,1000,1001,1002,1003,1004,1005,1006,1007,1008,1009,...,1108,1109,1110,1111,1112,1113,1114,1115,1116,1117
count,4026.000000,4026.000000,4026.000000,4026.000000,4026.000000,4026.000000,4026.000000,4026.000000,4026.000000,4026.000000,...,4026.000000,4026.000000,4026.000000,4026.000000,4026.000000,4026.000000,4026.000000,4026.000000,4026.000000,4026.000000
mean,0.017198,0.020678,0.022591,0.022906,0.022422,0.025025,0.026215,0.034257,0.036905,0.046838,...,0.092762,0.095370,0.100785,0.102538,0.100805,0.109724,0.114670,0.115651,0.107541,0.114980
std,0.081256,0.106514,0.105326,0.083297,0.079066,0.102228,0.120047,0.134196,0.128814,0.163570,...,0.198728,0.198758,0.195368,0.182590,0.175076,0.165671,0.171385,0.171663,0.183742,0.202242
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.020000,0.030000,0.040000,0.040000,0.030000,0.050000,0.060000,0.060000,0.040000,0.040000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.090000,0.100000,0.110000,0.130000,0.140000,0.160000,0.170000,0.170000,0.130000,0.140000
max,1.220000,2.000000,1.720000,1.160000,0.900000,1.880000,2.870000,2.300000,2.340000,1.950000,...,2.620000,2.060000,2.610000,1.600000,1.840000,2.040000,2.070000,2.130000,2.340000,2.580000

In [7]:
df2.to_csv('output/output.csv')